.asset-container {
  display: flex;
  gap: 1em;
  padding: 2rem;
  .asset-item {
    border: solid 1px black;
    width: 150px;
    padding: 0.5rem;
  }
  .asset-item:hover {
    cursor: pointer;
  }
  .asset-item-selected {
    border: solid 1px black;
    width: 150px;
    padding: 0.5rem;
    background-color: grey;
  }
}
.commitment-title {
  margin: 1rem;
}
.investor-table {
  width: 90% !important;
}
